@import "./vars.css";

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
